/*-----------
--NotARobot--
-----------*/

.not-a-robot {
    /*
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
*/
    display: flex;
    flex-direction: row;
    position: absolute;

    height: 74px;
    padding: 0px;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: rgb(224, 224, 224);
    background-color: rgb(250, 250, 250);
    cursor: pointer;
    user-select: none;
    
}

.not-a-robot .is-checkbox {
    width: 28px;
    height: 28px;
    margin: auto 13px auto 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(145, 145, 145);
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
}

.not-a-robot h3 {
    margin: auto 13px auto 13px;
    font-size: 14;
}

.not-a-robot .branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 13px 0px 13px;
}

.is-done {
    width: 28px;
    height: 28px;
    margin: auto 13px auto 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(145, 145, 145);
    border-radius: 4px;
    background-color: rgb(16, 189, 25);
  }


.is-dual-ring {
    display: flex;
    align-self: center;
    width: 54px;
    height: 54px;
  }
  
.is-dual-ring:after {
  content: " ";
  display: flex;
  align-self: center;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgb(97, 97, 97) transparent rgb(53, 230, 47) transparent;
  animation: lds-dual-ring 0.5s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
